*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 20px; */
    /* max-width: 375px; */
    height: 100%;
}
.header{
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    padding-left: 20px;
    padding-right: 20px;
    background: #fff;
}
.head-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header h4{
    font-weight: 500;    
}
.head-left img{
    width: 18px;
}

.head-right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.head-right img{
    width: 18px;
}
#more{
    width: 22px;
}
.all{
    margin-left: 20px;
    max-width: 375px;
}

.heading{
    font-size: 14px;
    color: #0C599C;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}
.rcn{
    font-size: 12px;
}
.rc-number{
    margin-top: 15px;
    width: 375px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding-left: 2px;
}
.btn{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 30px;    
}
.reset{
    background: #C6D3DC;
    color: #0C599C;
    outline: none;
    border: none;
    padding: 10px 20px;
    min-width: 170px;
    border-radius: 4px;
    font-size: 16px;
}
.check-details{
    color: #FDFEFE;
    background: #0C599C;
    outline: none;
    border: none;
    min-width: 170px;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
}
.results{
    /* display: flex; */
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    display: none;
}
.results h6{
    font-size: 14px;
    font-weight: 600;
    color: #0C599C;
}
.results input{
    width: 290px;
    border: none;
    outline: none;
    background: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 5px;
    font-size: 12px;
    border-radius: 5px;
}
.cards{
    /* display: flex; */
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}
.card{
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    border-radius: 5px;
    padding-bottom: 10px;
}
.card span{
    background: #f0efef;
    border-radius: 5px;
    font-size: 12px;
    padding: 3px;
    align-self: self-end;
    margin-right: 10px;
    margin-top: 10px;
}
.left-right{
    display: flex;
    gap: 95px;
    padding: 10px;
}
.scheme{
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 12px;
}
.scheme p{
    margin-top: 5px;
    font-weight: 200;
}
.wheat{
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 12px;
}
.wheat p{
    margin-top: 5px;
    font-weight: 200;
}
.state-name{
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 12px;
}
.state-name p{
    margin-top: 5px;
    font-weight: 200;
}
.result{
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 12px;
}
.result p{
    margin-top: 5px;
    font-weight: 200;
}
.sale-state{
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 12px;
}
.sale-state p{
    margin-top: 5px;
    font-weight: 200;
}
.rice{
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 12px;
}
.rice p{
    margin-top: 5px;
    font-weight: 200;
}
.update-on{
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 12px;
}
.update-on p{
    margin-top: 5px;
    font-weight: 200;
}